<script src="/common/js/jquery-3.4.1.min.js"></script>
<script src="/common/js/popper.min.js"></script>
<script src="/common/js/lodash.min.js"></script>
<script src="/common/js/moment.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/fontawesome/js/all.min.js"></script>
