.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #f0f2f5;
  align-content: stretch;
}

.content, .content-sider {
  border-radius: 4px;
  margin-top: 10px;
  background-color: #fff;
}

.content {
  margin-left: 50px;
  margin-right: 2px;
  min-height: 500px;
  min-width: 500px;
  flex: 500px;
}

.content-sider {
  margin-right: 50px;
  margin-left: 2px;
  min-width: 250px;
  max-width: 250px;
  flex: 250px;
}